/.abbrev_defs
auto-save-list
autosaves
backups
elpa/
/.ido.last
/ac-comphist.dat
desktop
otherpeoplesideas
/privatewordlist.txt
eshell
games
/tramp
url/
themes/
template/
snippets/c++-mode
snippets/cc-
snippets/c-mode
snippets/snippet-mode
snippets/sh-mode
snippets/python-mode/
snippets/perl-mode/
snippets/org-mode/
snippets/markdown-mode/
snippets/lisp-interaction-mode/
snippets/html-mode/
snippets/git-commit-mode/
snippets/emacs-lisp-mode/
snippets/cperl-mode/
snippets/cc-mode/

/session.102dd64ebb4df142c4146320141827891300000020800055
/session.108e7bca5537d88d15146293762790360300000030910091
/emacsdesktop-save
/recentf
/network-security.data
/projectile-bookmarks.eld
/projectile.cache
/var/pcache/unicode-fonts
