/.abbrev_defs
auto-save-list
autosaves
backups
elpa/
/.ido.last
/ac-comphist.dat
desktop
otherpeoplesideas
/privatewordlist.txt
eshell
games
/tramp
url/
themes/
template/
snippets/c++-mode
snippets/cc-
snippets/c-mode
snippets/snippet-mode
snippets/sh-mode
snippets/python-mode/
snippets/perl-mode/
snippets/org-mode/
snippets/markdown-mode/
snippets/lisp-interaction-mode/
snippets/html-mode/
snippets/git-commit-mode/
snippets/emacs-lisp-mode/
snippets/cperl-mode/
snippets/cc-mode/
Untracked files (1)
