/.abbrev_defs
/.cache
/.cask
/.lsp-session*
auto-save-list
autosaves
backups
/bookmarks
/elpa/
/elpy/
/eln-cache/
/lsp-cache/
/.ido.last
/ac-comphist.dat
/desktop
otherpeoplesideas
/privatewordlist.txt
eshell
games
/tramp
/projects
url/
themes/
template/
snippets/c++-mode
snippets/cc-
snippets/c-mode
snippets/snippet-mode
snippets/sh-mode
snippets/python-mode/
snippets/perl-mode/
snippets/org-mode/
snippets/markdown-mode/
snippets/lisp-interaction-mode/
snippets/html-mode/
snippets/git-commit-mode/
snippets/emacs-lisp-mode/
snippets/cperl-mode/
snippets/cc-mode/
/transient
/tutorial

/emacsdesktop-save
/recentf
/network-security.data
/projectile-bookmarks.eld
/projectile.cache
/var/pcache/unicode-fonts
